html { height: 100%; }
body {
    min-height:100%;
    position:relative;
    padding-bottom:40px;
    padding-top: 80px;
    font-family: 'Lato', sans-serif;
    background-image: url("/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.panel-title{
     font-family: 'Open Sans', sans-serif;
 }
.news-block .panel-title{
    font-size: 18px;
    padding-bottom: 2px;
}
.news-text{
    font-size: 15px;
}
#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    height: 40px;
}
.sidebar {
    margin-top: 31px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.sidebar ul li:last-child{
    border-bottom: 0;
    border-bottom-right-radius: 3px;
}
.jumbotron, .panel, .navbar-default, #footer{
    background: rgba(250, 250, 250, 0.95);
}
.navbar-default .nav>.active>a, .navbar-default .nav>.open>a, .navbar-default .nav>.active>a, .navbar-default .nav>.active>a:focus, .navbar-default .nav>.active>a:hover, .navbar-default .nav>li>a:focus, .navbar-default .nav>li>a:hover{
    background-color: rgba(255, 248, 207, 0.9);
    text-shadow: 1px 1px 1px #fff;
    border-bottom-right-radius: 3px;
}
.navbar-default .nav>.active>a:hover, .navbar-default .nav>li>a:hover{
    background-color: rgba(255, 247, 206, 0.6);
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(249, 249, 249, 0.6);
}
.panel-warning>.panel-heading{
    background-color: rgba(255, 247, 206, 0.75);
}
.navbar-default.sidebar {
    font-size: 16px;
}

#order-preview {
    list-style: none;
    padding: 0;
}

#order-preview li {
    border: 1px solid #aaa;
    border-bottom: 0;
}
#order-preview li:last-child {
    border-bottom: 1px solid #aaa;
    border-top: 3px solid #555;
}

.activeMeal {
    background-color: rgba(255, 236, 128, 0.9) !important;
}
#order-menu, .border-top-style {
    border-top: 3px solid rgba(255, 247, 206, 0.75);
}
#order-menu li.text-right, #order-preview li {
    padding: 10px 5px;
}
.panel{
    word-wrap: break-word;
}
