<div class="jumbotron">
    <div class="container">
        <h1>Kontakt</h1>
        <h3>Cześć! Chcesz się z nami skontaktować?</h3>
        <span>Napisz do nas maila: <a href="mailto:kontakt@projektpsim.pl">kontakt@projektpsim.pl</a></span><br><br>

        <h4>Przyjdź do naszej restauracji!</h4>
        <iframe style="border:0; width: 100%; height: 400px" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBC3LA_U7gNHk4OQZdhohrr0i7Q7ldV5qM&q=Strefa+Kultury+Studenckiej" allowfullscreen>
        </iframe>
    </div>
</div>
