<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="h2">Zaloguj się</span>
            </div>
        </div>
        <br>
        <form id="loginform" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Login</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" placeholder="domyślnie: admin">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="domyślnie: admin">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success pull-right">Zaloguj się</button>
                </div>
            </div>
        </form>
    </div>
</div>
