    <div class="panel panel-warning">
        <div class="panel-heading"><h3 class="panel-title">Dania główne</h3></div>
        <table class="table table-striped">
            <tr>
                <th class="col-md-2">Numer</th>
                <th class="col-md-5">Danie</th>
                <th class="col-md-2">Cena</th>
                <th class="col-md-2">Waga</th>
                <th class="col-md-1">Zamów</th>
            </tr>
            {{#each food}}
            <tr id="meal{{ id }}">
                <td>{{ id }}</td>
                <td>{{ description }}</td>
                <td>{{formatNumber price style="currency" currency="PLN"}}</td>
                <td>{{ weight }}g</td>
                <td><button class="btn btn-warning add_order"><i class="fa fa-plus"></i>&nbsp; Zamów</button></td>
                <td class="hidden">{{ price }}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading"><h3 class="panel-title">Dania vegańskie</h3></div>
        <table class="table table-striped">
            <tr>
                <th class="col-md-2">Numer</th>
                <th class="col-md-5">Danie</th>
                <th class="col-md-2">Cena</th>
                <th class="col-md-2">Waga</th>
                <th class="col-md-1">Zamów</th>
            </tr>
            {{#each vegan}}
            <tr id="meal{{ id }}">
                <td>{{ id }}</td>
                <td>{{ description }}</td>
                <td>{{formatNumber price style="currency" currency="PLN"}}</td>
                <td>{{ weight }}g</td>
                <td><button class="btn btn-warning add_order"><i class="fa fa-plus"></i>&nbsp; Zamów</button></td>
                <td class="hidden">{{ price }}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading"><h3 class="panel-title">Napoje</h3></div>
        <table class="table table-striped">
            <tr>
                <th class="col-md-2">Numer</th>
                <th class="col-md-5">Napój</th>
                <th class="col-md-2">Cena</th>
                <th class="col-md-2">Waga</th>
                <th class="col-md-1">Zamów</th>
            </tr>
            {{#each drink}}
            <tr id="meal{{ id }}">
                <td>{{ id }}</td>
                <td>{{ description }}</td>
                <td>{{formatNumber price style="currency" currency="PLN"}}</td>
                <td>{{ weight }}g</td>
                <td><button class="btn btn-warning add_order"><i class="fa fa-plus"></i>&nbsp; Zamów</button></td>
                <td class="hidden">{{ price }}</td>
            </tr>
            {{/each}}
        </table>
    </div>
