{{#each news}}
<div class="panel panel-warning news-block" id="news{{ id }}">
    <div class="panel-heading">
        <span class="news-author pull-right">
            {{ authorName }} {{ authorSurname }}
        </span>
        <h3 class="panel-title">{{ title }}</h3>
        <span class="news-date">
            {{formatDate date day="numeric" month="long" year="numeric"}}
        </span>
    </div>
    <div class="panel-body news-text">
        {{ text }}
    </div>
</div>
{{/each}}
