<div class="jumbotron">
    <div class="container">
        <span class="h1">Witaj na stronie naszej restauracji!</span>
        <div class="h3">Przejrzyj nasze <a href="/menu">menu</a> i wybierz coś dla siebie!</div>
    </div>
</div>
