<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left"><span class="h2">Zamówienie</span></div>
            </div>
            <div class="panel-body">
                <h3>Podgląd zamówienia:</h3>
                <ul id="order-preview">
                    {{#each data}}
                    <li class="text-right" id="order{{ id }}">
                        {{ name }} {{formatNumber one_price style="currency" currency="PLN"}}
                    </li>
                    {{/each}}
                    <li class="text-right border-top-style">
                        Suma: {{formatNumber price style="currency" currency="PLN"}}
                    </li>
                </ul>


                <form role="form" class="form-horizontal" id="send_order">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="order_phone">Telefon</label>
                        <div class="col-sm-10">
                            <input type="text" id="order_phone" name="order_phone" class="form-control" placeholder="Wprowadź swój numer telefonu, żebyśmy mogli się z Tobą skontaktować">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="order_address">Adres</label>
                        <div class="col-sm-10">
                            <textarea id="order_address" name="order_address" class="form-control" placeholder="Wprowadź adres, na jaki mamy dostarczyć zamówienie"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary col-sm-offset-2">Wyślij zamówienie <i class="fa fa-arrow-right fa-fw"></i></button>
                    <button type="reset" class="btn btn-warning pull-right">Wyczyść formularz</button>
                </form>
            </div>
        </div>
    </div>
</div>
