<div class="container">
    <div class="alert alert-{{ type }} alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ title }}</strong> {{ data }}
    </div>
</div>
