<div class="collapse navbar-collapse" id="navmenu">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Główna</a></li>
            <li><a href="/news">Aktualności</a></li>
            <li><a href="/menu">MENU</a></li>
<!--            <li><a href="/special">Oferty specjalne</a></li>-->
            <li><a href="/contact">Kontakt</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li id="login_form_link"><a href="/login">Zaloguj się</a></li>
            <!--<li class="hidden"><a href="/panel">Panel Sterowania</a></li>-->
            <li class="hidden"><a href="#">({{ username }})</a></li>
            <li class="hidden"><a href="/logout">Wyloguj</a></li>
        </ul>
    </div>
    <div class="navbar-default sidebar">
        <ul class="nav hidden" id="side-menu">
            <li class="sidebar-search hide">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Szukaj...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
            </li>
            <li class="disabled"><a class="disabled" href=""><i class="fa fa-dashboard fa-fw"></i> Panel sterowania</a></li>
            <li class="text-right"><a href="/panel/orders">Zamówienia <i class="fa fa-cutlery fa-fw"></i></a></li>
            <li class="text-right"><a href="/panel/news">Aktualności <i class="fa fa-newspaper-o fa-fw"></i></a></li>
            <li class="text-right"><a href="/panel/menu">Menu <i class="fa fa-list-ol fa-fw"></i></a></li>
        </ul>
        <ul class="nav hidden" id="order-menu">
        </ul>
    </div>
</div>
