<li class="disabled">
    <a class="disabled" href="">
        <i class="fa fa-cutlery fa-fw"></i> Zamówienie
    </a>
</li>
{{#each data}}
    <li class="text-right" id="order{{ id }}">
        {{ name }} {{formatNumber one_price style="currency" currency="PLN"}}
    </li>
{{/each}}
<li class="text-right border-top-style">
    Suma: {{formatNumber price style="currency" currency="PLN"}}
</li>

<li class="text-right">
    <button class="btn btn-warning" id="push_order">
        Złóż zamówienie <i class="fa fa-sign-in fa-fw"></i>
    </button>
</li>
