<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dodaj produkt
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" class="form-horizontal" id="add_meal">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="meal_name">Produkt</label>
                                <div class="col-sm-5">
                                    <input type="text" id="meal_name" name="meal_name" class="form-control" placeholder="Wprowadź opis / nazwę produktu">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="meal_price">Cena</label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                    <input type="number" id="meal_price" name="meal_price" class="form-control" placeholder="Podaj cenę">
                                        <span class="input-group-addon">zł</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="meal_weight">Waga</label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                    <input type="number" id="meal_weight" name="meal_weight" class="form-control" placeholder="Podaj wagę">
                                        <span class="input-group-addon">g</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="meal_type">Typ produktu</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="meal_type">
                                        <option value="FOOD">Danie standardowe</option>
                                        <option value="VEGAN">Danie wegańskie</option>
                                        <option value="DRINK">Napoje</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Wyślij</button>
                            <button type="reset" class="btn btn-warning">Wyczyść formularz</button>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
