<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dodaj news
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" class="form-horizontal" id="add_news">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="news_date">Data artykułu</label>
                                <div class="col-sm-3">
                                    <input type="datetime-local" id="news_date" name="news_date" class="form-control datepicker">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="news_title">Tytuł</label>
                                <div class="col-sm-10">
                                    <input type="text" id="news_title" name="news_title" class="form-control" placeholder="Wprowadź tytuł artykułu">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="news_content">Treść</label>
                                <div class="col-sm-10">
                                    <textarea id="news_content" name="news_content" class="form-control" placeholder="Wprowadź treść artykułu"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Wyślij</button>
                            <button type="reset" class="btn btn-warning">Wyczyść formularz</button>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
