<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left"><span class="h2">Menu</span></div>
                <div class="pull-right">
                    <a class="btn btn-success" href="/panel/add/menu"><i class="fa fa-plus"></i>&nbsp; Dodaj pozycję</a>
                </div>
            </div>
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="menu-tabela">
                    <thead>
                    <tr>
                        <th class="col-md-3">Danie</th>
                        <th class="col-md-2">Cena</th>
                        <th class="col-md-2">Waga</th>
                        <th class="col-md-2">Typ dania</th>
                        <th class="col-md-1">Edytuj</th>
                        <th class="col-md-1">Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                    <tr id="meal{{ id }}">
                        <td>{{ description }}</td>
                        <td>{{formatNumber price style="currency" currency="PLN"}}</td>
                        <td>{{ weight }}g</td>
                        <td>{{ mealType }}</td>
                        <td><a href="/panel/edit/menu/{{ id }}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edytuj</a></td>
                        <td><button class="btn btn-danger delete_meal"><i class="fa fa-trash"></i> Usuń</button></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
