<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left"><span class="h2">Newsy</span></div>
                <div class="pull-right">
                    <a class="btn btn-success" href="/panel/add/news"><i class="fa fa-plus"></i>&nbsp; Dodaj news</a>
                </div>
            </div>
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="news-tabela">
                    <thead>
                    <tr>
                        <th class="col-md-2">Data</th>
                        <th class="col-md-2">Autor</th>
                        <th class="col-md-2">Tytuł</th>
                        <th class="col-md-5">Treść</th>
                        <th class="col-md-1">Edycja</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each news}}
                    <tr>
                        <td>{{formatDate date day="numeric" month="long" year="numeric"}}</td>
                        <td>{{ authorName }} {{ authorSurname }}</td>
                        <td>{{ title }}</td>
                        <td>{{ text }}</td>
                        <td><a href="/panel/edit/news/{{ id }}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edytuj</a></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
