<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left"><span class="h2">Zamówienia</span></div>
            </div>
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="news-tabela">
                    <thead>
                    <tr>
                        <th class="col-md-1">ID</th>
                        <th class="col-md-2">Data</th>
                        <th class="col-md-2">Nr. telefonu</th>
                        <th class="col-md-3">Adres</th>
                        <th class="col-md-1">Przyjęte?</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{formatDate date day="numeric" month="long" year="numeric"}}</td>
                        <td>{{ contactNumber }}</td>
                        <td>{{ address }}</td>
                        <td>{{ isDone }}</td>
                        <td><button class="btn btn-primary order_panel_handle"><i class="fa fa-check-square-o"></i> Przyjmij</button></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
